<p>search works!</p>
<div class="wrapper">
  <form [formGroup]="form" novalidate autocomplete="off" (ngSubmit)="onSubmit()">
    <div class="form-group">
      <app-input
        formControlName="zipCode"
        class="form-control"
        [class.is-invalid]="zipCode.invalid && (zipCode.dirty || zipCode.touched)"
      ></app-input>
      <div *ngIf="zipCode.invalid && (zipCode.dirty || zipCode.touched)" class="invalid-feedback">
        <div class="error" *ngIf="zipCode.errors?.['required']">This field is required.</div>
        <div class="error" *ngIf="zipCode.errors?.['minlength']">
          This field must have at least 5 character.
        </div>
        <div class="error" *ngIf="zipCode.errors?.['maxlength']">
          This field must have at most 5 characters.
        </div>
      </div>
    </div>

    <app-button [type]="submit">Add Location</app-button>
  </form>
</div>
